@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(180deg, #877BFB, #C2A0FD, #95E9FB);
  margin-top: 45px;
  min-height: 100vh;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.0);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 100;
  backdrop-filter: blur(3px);
}
.navbar ul {
  list-style-type: none;
  width: 100%;
  display: flex;
}
.navbar li {
  margin-right: 20px;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-right: 20px;
  position: relative;
}
.navbar .login {
  margin-left: auto; /* Push the login link to the right */
}
.navbar .logo {
  text-align: center;
  flex-grow: 1; /* Allow the logo to grow and take up available space */
}
.navbar a.active {
  color: #A93DDC;
}
.navbar a:hover{
  color: rgb(0, 0, 0);
}
.navbar a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -4px;
  left: 0;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.navbar a:hover::before {
  transform: scaleX(1);
  background-color: white;
}
.navbar a:target::before {
  transform: scaleX(1);
  background-color: #ff9900;
}
.logo {
  padding-right: 900px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  padding: 20px;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
//bg color #877BFB #C2A0FD #95E9FB